.products {
  width: 100%;
  display: flex;
  place-content: center;
  place-items: center;
  flex-wrap: wrap;
  
  ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
  }
}
